extends layout.pug 

block content
    section#content
        h2 Hello, My Server!
        p
            a(href='/sum.html') 按我前往sum.html
            <br>
            <br>
            a(href='/myName') 按我前往myname測試cookie功能